{{ template "header.html" . }}

<div id="post">
  <h2> {{ .Title }} </h2>
  <div class="meta">date: {{ .Date.Format "mon, jan 2, 2006" }}</div>

  {{ .Content }}

  <br clear="both"/>
  <div class="archive_link">
    archive: <a href="{{ .Params.BaseURL }}{{ .Category }}/">{{ .Category }}</a>
  </div>
</div>


<div class="prev">previous: <a href="{{ .Params.BaseURL }}{{ .PrevUrl }}">{{ .PrevTitle }}</a></div>
<div class="next">next: <a href="{{ .Params.BaseURL }}{{ .NextUrl }}">{{ .NextTitle }}</a></div>


<p><hr/></p>

<p>recent Posts</p>
<ul>
  {{ range .Recent }}
    <li> <a href="{{ .Params.BaseURL }}{{ .Url }}">{{.Title}}</a></li>
  {{ end }}
</ul>


{{ template "footer.html" }}
