[submodule "hugo/themes/mini"]
	path = hugo/themes/mini
	url = https://github.com/nodejh/hugo-theme-mini.git
[submodule "hugo/themes/etch"]
	path = hugo/themes/etch
	url = https://github.com/LukasJoswiak/etch.git
